Package: com.cronocide.ccp15
Architecture: iphoneos-arm
Pre-Depends: firmware (>= 15.0)
Name: CommCenterPatch15
Depends: mobilesubstrate
Version: 3.0
Description: Commcenter Bundle Patch
Maintainer: Cronocide <github@cronocide.com>
Author: Amy While <support@anamy.gay>
Section: Tweaks
